*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: rem(12);
  line-height: 1.16;
  color: $dark;
  background-color: $bg;
}
.container{
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
  &_fluid{
     padding: 0;
     margin: 0 auto;
     width: auto;
  }
}